body {
    font-family: Arial, sans-serif;
    background-image: url(6.jpg);    margin: 0;
    background-position: 0px 0px;
    background-size: 100%;
    padding: 0;
}

.toggle-sidebar {
    display: none; 
}

.hamburger-menu {
    font-size: 24px;
    position: fixed;
    top: 35px;
    right: 20px;
    cursor: pointer;
    z-index: 1000; 
    background: rgba(165, 165, 165, 0.381);
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    user-select: none;
}

.sidebar {
    width: 180px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(1, 1, 1);
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    transition: right 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.toggle-sidebar:checked ~ .sidebar {
    right: 0;
}

.sidebar-header h2 {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 70px;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin-bottom: 15px;
}

.sidebar-menu a {
    color: rgb(251, 249, 249);
    text-decoration: none;
    font-size: 16px;
}

.sidebar-menu a:hover {
    text-decoration: underline;
}

